aiofiles
bard
SpeechRecognition
pornhub-api
aiohttp 
asyncio 
beautifulsoup4
daxxhub
deepai
python-whois
dnspython
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
heroku3
apscheduler
motor 
numpy
pillow
psutil
wget
pyfiglet
qrcode
pytz
future
search_engine_parser
py-tgcalls
pykeyboard
pyshorteners
pyrogram
python-dotenv
pyyaml
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api
httpx
gpytranslate
openai
pickledb
python-telegram-bot==21.1.1
img2pdf
cloudscraper
pycryptodome
opencv-python
git+https://github.com/joetats/youtube_search@master
